@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
*{
    font-family: 'Barlow',sans-serif;
    color:black ;
    font-size: 22px;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("/minireto2/imgs/texture.jpg");
    background-position: center;
    background-repeat: repeat,no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}   

#cont-1{
    min-height: 50%;
    height: 100vh;
}

/* primary */
#container-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 90%;
}

#container-name{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;    
}
#container-name-data{
    border: 20px solid rgba(12, 25, blue, 0.5);
    border-color: linear-gradient(to bottom right ,rgba(red, green, blue, alpha));
}
#container-name-data > img{
    min-width: 300px;
    max-width: 300px;
    border-radius: 50%;
}

#container-resume{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;   
}
#container-resume p {
    font-size: 25px;
}
#container-resume h2 {
    font-weight: bold;
}


/* arrow */
#arrow{
    float: center;
    display: flex;
    justify-content: center;

}
#arrow a{
    text-align: center;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5%;
    border: 2px solid black;
    background-color: #a6afb462;
}
#arrow a:hover{
    background-color: #a6afb4;
    transform: scale(1.1);
}
.material-symbols-outlined {
    size: 20px;
  font-variation-settings:
  'FILL' 100,
  'wght' 700,
  'GRAD' 100,
  'opsz' 48
}


/* secondary */
#container-techs{
    width: 100%;
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255);
}
#container-techs-content{
    text-align: center;
}
#container-techs-content h2 p{
    font-size: 25px;
}

#workshop{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;

    min-height: 40%;
}
#workshop-content{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;  
    padding-top: 10px;
    padding-bottom: 10px;
}
.workshop-card{
    min-width: 400px;
    width: 600px;
    height: 120px;
    background-color: #a6afb462;
    border: 1px solid #a6afb462;
}
.workshop-card a{
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.workshop-card:hover{
    background-color: #a6afb4;
    transform: scale(1.1);
}

#contact{
    width: 100%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255,255,255);
}
.contact-grid{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.contact-grid-item{
    display: flex;
    flex-direction: column; 
    gap: 10%;
}
#contact-mark{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}






/* media query contact */
@media only screen and (max-width:800px) {
    #cont-1{
        height: auto;
    }

    #arrow{
        visibility: hidden;
    }

    #container-profile{
        gap: 20%;
        flex-direction: column;
    }

    #container-techs{
        min-width: 40%;
    }

    #workshop-content{
        flex-direction: column;
        justify-content: space-between;
        gap:10%
    }
    
    .contact-grid{
        flex-direction: column;
        justify-content: space-between;
        gap: 20%;
    }
}

